<!DOCTYPE html>
<html ng-app="wfaasApp" class="new-ui">
<head>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Centurylink Cloud - Automation</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/clc2.css">
    <link rel="stylesheet" href="css/clc.css">
    <link rel="stylesheet" href="css/theme/WFAD.css">
    <link rel="stylesheet" href="css/theme/genericons/genericons.css">
    <!--<link href="content/css/loading-bar.css" rel="stylesheet" />-->
    <!--<link href="content/css/font-awesome.min.css" rel="stylesheet" />-->
    <!--<link href="content/css/social-buttons.css" rel="stylesheet" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<div id="shellHeader">
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="indexController">
        <div class="container-fluid" id="brandBar">
            <div class="navbar-header">
                <!-- <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button> -->
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="navbar-collapse collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <li ng-hide="!authentication.isAuth"><a href="#/allJobs">All Jobs</a></li>
                    <!--<li data-ng-hide="!authentication.isAuth"><a href="#/status">Job Status</a></li>-->
                    <li ng-hide="!authentication.isAuth"><a href="" ng-click="logOut()">Logout</a></li>
                    <li ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="container-fluid">
    <div ng-view=""></div>
</div>

<hr />

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <p class="text-muted text-center">Product of Centurylink Cloud: <a target="_blank" href="https://www.ctl.io/">Centurylink</a></p>
            </div>
        </div>
    </div>
</div>

<!-- 3rd party libraries -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<!--<script src="scripts/loading-bar.min.js"></script>-->

<!-- Load app main script -->
<script src="app.js"></script>

<!-- Load services -->
<script src="services/wfaasService.js"></script>
<script src="services/authService.js"></script>
<script src="services/authInterceptorService.js?v=2"></script>

<!-- Load controllers -->
<script src="controllers/wfaasController.js"></script>
<script src="controllers/indexController.js"></script>
<script src="controllers/homeController.js"></script>
<script src="controllers/loginController.js"></script>

<!-- Load custom filters -->
<!-- Load custom directives -->

  <!-- Additional files -->
  <!--<script src="components/version/version.js"></script>-->
  <!--<script src="components/version/version-directive.js"></script>-->
  <!--<script src="components/version/interpolate-filter.js"></script>-->
</body>
</html>
