<div class="container" style="">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <h1>Job Executions Queue</h1>
            </div>
        </div>
    </div>
</div>


<div class="primary" style="">
    <div class="container" style="">


        <div class="row">
            <div class="col-sm-12">

                <div class="filter-panel">

                    <div class="pull-right">
                        <span class="search-input">
                            <input type="text" data-bind="value: filterJobExecutionsByNameQuery, valueUpdate: 'keyup'">
                            <svg class="cyclops-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
                            </svg>
                        </span>
                    </div>

                    <span class="anchor-span">My Job Executions</span>

                    <span id="job-executions-active" data-status="active" class="anchor-span" data-bind="click: selectJobExecutionTab, css: { 'active': jobExecutionTabIsActive('active')}">Active (--)</span>
                    <span id="job-executions-errored" data-status="errored" class="anchor-span" data-bind="click: selectJobExecutionTab, css: { 'active': jobExecutionTabIsActive('errored')}">Errored (--)</span>
                    <span id="job-executions-successful" data-status="successful" class="anchor-span" data-bind="click: selectJobExecutionTab, css: { 'active': jobExecutionTabIsActive('successful')}">Successful (--)</span>
                    <span id="job-executions-all" data-status="all" class="anchor-span" data-bind="click: selectJobExecutionTab, css: { 'active': jobExecutionTabIsActive('all')}">All</span>

                </div>

                <!-- BEGIN: JOBS QUEUE -->
                <ol class="queue queue-preview" data-bind="foreach: { data: jobExecutionsFiltered(), as: 'jobExecution' }">
                    <!-- BEGIN: JOB ITEM -->

                    <li class="" data-bind="css: jobExecution.status().toLowerCase(), attr: { title: 'Job Execution Status: ' + jobExecution.status() }" title="[jobExecution.status]">
                        <div class="status-bar">
                            <svg class="cyclops-icon" title="queued">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ellipsis" data-bind="attr: { 'xlink:href': jobExecution.statusIcon }"></use>
                            </svg>
                        </div>
                        <div class="new-list-view-responsive new-list-view-responsive-sm details clearfix">
                            <div class="col col-40">
                                <a href="#job-execution/999" class="playbook" data-bind="attr: { href: jobExecution.hrefJobExecution() }, text: jobExecution.execution_id()">&hellip;</a>
                                <!--<a href="#job-execution/999" class="playbook" data-bind="attr: { href: '#job-execution/' + jobExecution.execution_id() }, text: jobExecution.execution_id()">&hellip;</a>-->
                                <div class="user" title="Job Execution User">
                                    <svg class="cyclops-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-user"></use>
                                    </svg>
                                    <span class="fake">&hellip;</span>
                                    <!--<span data-bind="text: jobExecution.user()">[jobExecution.user]</span>-->
                                </div>
                            </div>
                            <div class="col col-60">
                                <div class="duration" title="Job Execution Duration">
                                    <svg class="cyclops-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-clock"></use>
                                    </svg>
                                    <span data-bind="text: jobExecution.duration()">&hellip;</span>
                                </div>
                                <div class="finished" title="Job Execution Finished">
                                    <svg class="cyclops-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use>
                                    </svg>
                                    <span data-bind="text: jobExecution.finished()">&hellip;</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END: JOB ITEM -->
                </ol>
                <!-- END: JOBS QUEUE -->

                <!--<pre data-bind="text: ko.toJSON( paging(), null, 4 )"></pre>-->

                <!--<nav class="pull-left" style="">-->
                <nav data-bind="with: paging" class="pull-left" style="">
                    <ul class="pagination">
                        <li title="First Page" data-bind="css: { disabled: isFirstPage }, click: loadFirstPage">
                            <span aria-hidden="true" class="pagination-glyphs">&laquo;</span>
                            <!--<span aria-hidden="true">&laquo; First</span>-->
                        </li>

                        <li title="Previous Page" data-bind="css: { disabled: isFirstPage }, click: loadPreviousPage">
                            <span aria-hidden="true" class="pagination-glyphs">&lsaquo;</span>
                            <!--<span aria-hidden="true">&lsaquo; Prev</span>-->
                        </li>

                        <li title="Current Page" class="active">
                            <span data-bind="text: pageNumber()" class="pagination-glyphs">&hellip;</span>
                            <!--<span data-bind="text: pageIndex() + 1" class="pagination-glyphs">&hellip;</span>-->
                        </li>

                        <li title="Next Page" data-bind="css: { disabled: isLastPage }, click: loadNextPage">
                            <!--<span aria-hidden="true">Next &rsaquo;</span>-->
                            <span aria-hidden="true" class="pagination-glyphs">&rsaquo;</span>
                        </li>

                        <li title="Last Page" data-bind="css: { disabled: isLastPage }, click: loadLastPage">
                            <!--<span aria-hidden="true">Last &raquo;</span>-->
                            <span aria-hidden="true" class="pagination-glyphs">&raquo;</span>
                        </li>
                    </ul>
                </nav>
                <!--<pre data-bind="text: ko.toJSON( jobExecutionsPage(), null, 4 )"></pre>-->
            </div>
        </div>


    </div>
</div>




