<div class="container" style="">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#job/999" data-bind="attr: { href: '#job/' + job.id() }">
                        <svg class="cyclops-icon">
                            <use xlink:href='#icon-chevron-left'></use>
                        </svg>
                        <span>job</span>
                    </a>
                </li>
            </ol>
            <div class="content-header">
                <img src="/assets/svg/logo-nodejs-color.svg" class="playbook-logo">
                <h1>Run Nodejs Server Job</h1>
                <p>Create a lightweight server that can handle a great number of simultaneous requests</p>
            </div>
        </div>
    </div>
</div>

<div class="primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form id="playbookRunForm" action="../job/job.html" class="form-horizontal">
                    <div class="form-group">
                        <label for="location" class="col-sm-3 control-label">location</label>
                        <div class="col-sm-6">
                            <select id="location" class="form-control" autofocus="autofocus">
                                <option value="">CA1 - Canada (Vancouver)</option>
                                <option value="">CA2 - Canada (Toronto)</option>
                                <option value="">CA3 - Canada (Toronto)</option>
                                <option value="">DE1 - Germany (Frankfurt)</option>
                                <option value="">GB1 - Great Britain (Portsmouth)</option>
                                <option value="">GB3 - Great Britain (Slough)</option>
                                <option value="">IL1 - US Central (Chicago)</option>
                                <option value="">NY1 - US East (New York)</option>
                                <option value="">SG1 - APAC (Singapore)</option>
                                <option value="">UC1 - US West (Santa Clara)</option>
                                <option value="">UT1 - US Central (Salt Lake City)</option>
                                <option value="">VA1 - US East (Sterling)</option>
                                <option value="">WA1 - US West (Seattle)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group" class="col-sm-3 control-label">group</label>
                        <div class="col-sm-6">
                            <select id="group" class="form-control">
                                <option>Default Group</option>
                                <option>QA</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="serverName" class="col-sm-3 control-label">server name</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="serverName" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password">
                            <p>If left blank, a password will be generated for you</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-3 control-label">confirm password</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="confirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">schedule job</label>
                        <div class="col-sm-6">
                            <!--<toggle params="value: true"></toggle>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">schedule for</label>
                        <div class="col-sm-9">
                            <input id="scheduleForDate" class="form-control w30" type="text" placeholder="Nov 2, 2015">
                            <select class="form-control w20">
                                <option value="00">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>
                            <select class="form-control w20">
                                <option value="00">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                                <option value="53">53</option>
                                <option value="54">54</option>
                                <option value="55">55</option>
                                <option value="56">56</option>
                                <option value="57">57</option>
                                <option value="58">58</option>
                                <option value="59">59</option>
                            </select>
                            <select class="form-control w30">
                                <option value="-12:00">UTC-12:00</option>
                                <option value="-11:00">UTC-11:00</option>
                                <option value="-10:00">UTC-10:00</option>
                                <option value="-09:00">UTC-09:00</option>
                                <option value="-08:00">UTC-08:00</option>
                                <option value="-07:00">UTC-07:00</option>
                                <option value="-06:00">UTC-06:00</option>
                                <option value="-05:00">UTC-05:00</option>
                                <option value="-04:00">UTC-04:00</option>
                                <option value="-03:00">UTC-03:00</option>
                                <option value="-02:00">UTC-02:00</option>
                                <option value="-01:00">UTC-01:00</option>
                                <option value="+00:00">UTC+00:00</option>
                                <option value="+01:00">UTC+01:00</option>
                                <option value="+02:00">UTC+02:00</option>
                                <option value="+03:00">UTC+03:00</option>
                                <option value="+04:00">UTC+04:00</option>
                                <option value="+05:00">UTC+05:00</option>
                                <option value="+06:00">UTC+06:00</option>
                                <option value="+07:00">UTC+07:00</option>
                                <option value="+08:00">UTC+08:00</option>
                                <option value="+09:00">UTC+09:00</option>
                                <option value="+10:00">UTC+10:00</option>
                                <option value="+11:00">UTC+11:00</option>
                                <option value="+12:00">UTC+12:00</option>
                            </select>
                            <p>Local time preview: <span data-bind="text: $parent.beginTaskDateTimePreview">Mon, Nov 2, 2015 12:00 PM (UTC-08:00)</span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repeat" class="col-sm-3 control-label">repeat</label>
                        <div class="col-sm-3">
                            <select id="repeat" class="form-control">
                                <option>never</option>
                                <option>daily</option>
                                <option>weekly</option>
                                <option selected="selected">monthly</option>
                                <option>custom</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="expire" class="col-sm-3 control-label">expire</label>
                        <div class="col-sm-3">
                            <select id="expire" class="form-control">
                                <option selected="selected">never</option>
                                <option>after date</option>
                                <option>after count</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-submit">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">queue job</button>
                            <a href="#job" class="btn btn-link" data-bind="attr: { href: '#job/' + job.id() }">cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

