<div class="panel panel-success">
    <div class="panel-heading">
        List of Jobs
    </div>
    <div class="table-responsive">
        <div class="alert alert-info" ng-show="loading">Loading...</div>
        <table class="table table-striped" data-toggle="table" pagination="true" data-search="true" data-height="50" ng-hide="loading">
            <thead >
                <tr>
                    <th>#</th>
                    <th>Job Id</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Repository</th>
                    <th>Playbook</th>
                    <!--<th><a href="" ng-click="reverse=!reverse;order('details.lastRun', reverse)">Last Executed</a></th>-->
                    <th>Last Executed</th>
                    <th>Account Alias</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="job in jobsList | orderBy:'details.lastRun'">
            <!--<tr ng-repeat="job in jobsList">-->
                <td>{{$index + 1}}</td>
                <td><a href="#/status/{{job.id}}">{{job.id}}</a></td>
                <td>{{job.description}}</td>
                <td>{{job.status}}</td>
                <td><a ng-href="{{job.repository.url}}" target="_blank">{{job.repository.url}}</a></td>
                <td>{{job.repository.defaultPlaybook}}</td>
                <td>{{job.details.lastRun | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>{{job.accountAlias}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>