<nav class="left-nav row">
    <div class="top-pane collapsed">
        <ol class="items">
           <li><div title="Create Job" ng-class="{selected: activeLeftMenuIcon === 'createJob'}" ng-click="loadMainSection('createJob');"><i class="fa fa-plus-circle"></i>Create</div></li>
           <li><div title="Jobs" ng-class="{selected: activeLeftMenuIcon === 'jobs'}" ng-click="loadMainSection('jobs');"><i class="fa fa-suitcase"></i>Jobs</div></li>
           <!-- class="selected shown"  -->
           <!-- <li><a href="#" title="AppFog"><i class="fa fa-star"></i>Favorites</a></li> -->
           <li><a href="" title="Playbook Builder" ng-class="{selected: activeLeftMenuIcon === 'pbBuilder'}" ng-click="loadMainSection('pbBuilder');"><i class="fa fa-book"></i>Playbook Builder</a></li>
           <li><a href="" title="Status"><i class="fa fa-heartbeat"></i>Status</a></li>
       </ol>
    </div>
    <div class="pane for-infrastructureMenu" data-bind="css: t.secondPaneClass" style="z-index: 1011; left: 0px;">
        <div class="header-all-jobs" style="position: fixed;width: 260px;"><i class="fa fa-cog"></i> All Jobs</div>
        <ol class="items" style="position: fixed;bottom: 170px;top: 140px;overflow-y: auto;">
          <li ng-show="isJobloading" style="text-align: center;"><i class="fa fa-refresh fa-spin fa-2x"></i></li>
          <li ng-hide="isJobloading" ng-repeat="job in jobsList">
            <div class="item-hover" ng-class="{selected: job.id === selectedJobId}" ng-click="loadJobMainSection(job, $index);">
               <div class="item-status"></div>
               <a class="item-content">
                  <i class="fa fa-caret-right"></i>
                  <i class="fa fa-dot-circle-o" title=""></i>
                  <p>{{(job.description == "") ? job.id : job.description}}</p>
               </a>
            </div>
          </li>
        </ol>
        <div class="header-fave" style="position: fixed;width: 260px;bottom: 150px;overflow: auto;"><i class="fa fa-star"></i> Favorite Jobs</div>
    </div>
</nav>
<main id="shellContentWithNewLeftNav" class="nav-expanded" style="transition: left 0.4s; display: block;">
  <div class="container2-fluid" ng-include="mainSectiontemplate.jobMainSection"></div>
</main>