<div class="container-fluid">
    <div class="row">
        <form editable-form role="form" class="form-horizontal">
            <legend class="header"><h2>Create Job<button class="close" type="button" aria-label="Close" ng-show="newJob" ng-click="cancelJob()"><span class="genericon genericon-close-alt"></span></button></h2></legend></br>
            <fieldset ng-hide="hideForm">
                <div class="form-group">
                    <label class="control-label" for="jobName">Job Name</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="jobName" id="jobName" ng-model="job.description" placeholder="Name of the Job">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="jobName">Job Description</label>
                    <div class="controls">
                        <textarea rows="5" id="comment" style="resize: both; padding: 5px;" class="col-sm-6" placeholder="Brief description about the Job"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="callBackUrl">Call Back Url(s)</label>
                    <div class="controls">
                        <select class="col-md-1" ng-model="callback.level" ng-options="callbackLevel as callbackLevel for callbackLevel in callbackLevels" style="width: 80px; margin-right: 5px;">
                        </select>
                        <input type="text" class="form-control col-md-5" name="callBackUrl" id="callBackUrl" ng-model="callback.url" placeholder="Provide Call back url">
                    </div><button type="button" class="btn btn-default add-list" ng-click="addToList('webhooks')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sshPrivateKey">SSH Private Key(s)</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="sshPrivateKey" id="sshPrivateKey" ng-model="job.sshPrivateKey" placeholder="Provide SSH Key(s)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Properties">Properties</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-2" ng-model="properties.key" placeholder="Additional Property key" style="width: 162px; margin-right: 5px;">
                        <input type="text" class="form-control col-md-4" ng-model="properties.value" placeholder="Additional Property value">
                    </div><button type="button" class="btn btn-default add-list" ng-click="addToList('properties')"><i class="fa fa-plus"></i></button>
                    <div class="controls">
                        <ul class="property-list col-md-6" style="background-color: white;">
                            <li ng-repeat="(key, value) in job.properties" class="row">
                                <!-- <a href="" editable-textarea="key" e-rows="3" e-cols="4">{{ key || '' }}</a>
                                <a href="" editable-text="value">{{ value || '' }}</a> -->
                                <span class="description col-md-2">{{key}}</span>
                                <span class="value col-md-9">{{value}}</span>
                                <!-- <keyValueEdit></keyValueEdit> -->
                                <!-- <span class="description col-md-2">{{key}}</span>
                                <span class="value col-md-9">{{value}}</span> -->
                                <span ng-click="removeFromList(key, 'properties')"><i class="fa fa-times"></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <fieldset ng-hide="">
                    <legend>Repository details</legend>
                    <div class="form-group">
                        <label class="control-label" for="repoUrl">Git repository url</label>
                        <div class="controls">
                            <input type="text" class="form-control col-md-6" name="repoUrl" id="repoUrl" ng-model="job.repository.url" placeholder="Playbook Git Location" required>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label class="control-label" for="repoBranch">Branch Name</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="repoBranch" id="repoBranch" ng-model="job.repository.branch" placeholder="Git Branch Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="playbookName">Playbook Name</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="playbookName" id="playbookName" ng-model="job.repository.defaultPlaybook" placeholder="Playbook Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="repoBranch">Execute Tagged tasks</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="repoBranch" id="repoBranch" ng-model="job.repository.properties" placeholder="Provide specific tagged tasks">
                    </div><button type="button" class="btn btn-default add-list"><i class="fa fa-plus"></i></button>
                </div>
                <div class="form-group">
                    <label class="control-label" for="access github">Repository Type</label>
                    <div class="controls">
                        <label class="radio" ><input type="radio" ng-model="repoType" value="public" ng-click="githubAccessType = ''">public repository</label>
                        <label class="radio" ><input type="radio" ng-model="repoType" value="private">private repository</label>
                    </div>
                </div>
                <div class="form-group" ng-show="repoType == 'private'">
                    <label class="control-label" for="access github">Access github</label>
                    <div class="controls">
                        <label class="radio" ><input type="radio" ng-model="githubAccessType" value="creds" ng-click="job.repository.credentials.sshPrivateKey = ''">by username/password</label>
                        <label class="radio" ><input type="radio" ng-model="githubAccessType" value="ssh private key" ng-click="job.repository.credentials.username = job.repository.credentials.password = ''">ssh private key</label>
                    </div>
                </div>
                <!-- <fieldset data-bind="fadeSlide: ttlSupported">
                    <div class="form-group">
                        <label class="control-label">set time to live</label>
                        <div class="controls">
                            <div toggleSwitch class="ibutton-container">
                                <input name="ttlEnabled" type="checkbox" data-bind="checked: ttl.enabled, widget: { name: 'iButton', options: { labelOn: 'ON', labelOff: 'OFF', resizeHandle: false, resizeContainer: false, init: false } }">
                                <input  type="checkbox">
                                <div class="ibutton-handle" style="left: 41px;">
                                    <div class="ibutton-handle-right">
                                        <div class="ibutton-handle-middle"></div>
                                    </div>
                                </div>
                                <div class="ibutton-label-off" ng-hide="false">
                                    <span style="margin-right: -41px;"><label>OFF</label></span>
                                </div>
                                <div class="ibutton-label-on" style="width: 45px;" ng-hide="false">
                                    <span style="margin-left: 0px;"><label>ON</label></span>
                                </div>
                                <div class="ibutton-padding-left"></div>
                                <div class="ibutton-padding-right"></div>
                            </div>
                        </div>
                    </div>
                </fieldset> -->
                <div class="form-group" ng-show="githubAccessType == 'creds'">
                    <label class="control-label" for="repoUserName">User Name</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="repoUserName" id="repoUserName" ng-model="job.repository.credentials.username" placeholder="Git User Name">
                    </div>
                </div>
                <div class="form-group" ng-show="githubAccessType == 'creds'">
                    <label class="control-label" for="repoPassword">Password</label>
                    <div class="controls">
                        <input type="password" class="form-control col-md-6" name="repoPassword" id="repoPassword" ng-model="job.repository.credentials.password" placeholder="Git password">
                    </div>
                </div>
                <div class="form-group" ng-show="githubAccessType == 'ssh private key'">
                    <label class="control-label" for="repoSSHKey">SSH Private Key</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="repoSSHKey" id="repoSSHKey" ng-model="job.repository.credentials.sshPrivateKey" placeholder="Git SSH Private Key">
                    </div>
                </div>
            </fieldset>
            <fieldset ng-show="!hideForm">
                <legend>Host details</legend>
                <div class="form-group">
                    <label class="control-label" for="hostId">Host</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="hostId" id="hostId" placeholder="Host Id(s)" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sshPrivateKey">SSH Private Key(s)</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-6" name="sshPrivateKey" id="sshPrivateKey" ng-model="job.sshPrivateKey" placeholder="Provide SSH Key(s)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="hostVars">Host Variables</label>
                    <div class="controls">
                        <input type="text" class="form-control col-md-2" ng-model="hostVars.key" placeholder="Host Variable key" style="width: 162px; margin-right: 5px;">
                        <input type="text" class="form-control col-md-4" ng-model="hostVars.value" placeholder="Host Variable value">
                    </div><button type="button" class="btn btn-default add-list" ng-click="addToList('hostVars')"><i class="fa fa-plus"></i></button>
                </div>
                <div class="form-group">
                    <div class="controls">
                    </div>
                </div>
            </fieldset>
            <div class="">
                <label class="col-sm-4">
                    <input style="margin-right: 5px;" type="checkbox" ng-model="checkboxModel.runImmediate">Run Immediate
                </label>
                <button class="btn btn-success col-xsm-1" type="submit" ng-click="createJob()">queue Job</button>
                <button type="button" class="btn btn-link col-xsm-3" ng-click="cancelJob()">Cancel</button>
                </br></br>
                <div class="col-sm-6">
                    <legend>Job Payload</legend>
                    <textarea ng-model="job.jobDocument" rows="30" id="comment" style="resize: both; padding: 5px;" class="col-sm-12"></textarea>
                </div>
                <div class="col-sm-6">
                    <legend>Response</legend>
                    <textarea ng-class="responseStyle" class="col-sm-12" rows="30" style="resize: both; padding: 5px;">{{(isNewJobInProgress) ? "Processing..." : (jobResponseDocument | json)}}</textarea>
                </div>
            </div></br>
        </form> </br>
    </div>
</div>
