<div class="row">
    <div class="col-sm-12">
        <h1 class="content-header job-title">{{(selectedJob.description == "") ? selectedJob.id : selectedJob.description}}</h1>
    </div>
</div>
<div class="row billing-summary">
    <div class="col-sm-4">
        <div class="currency" title="execute the job again"><i ng-click ="startJob();" class="fa fa-play-circle"></i></div>
        <div class="heading">RUN JOB</div>
    </div>
    <div class="col-sm-4">
        <div class="currency" title="add to favourites"><i class="fa fa-star"></i></div>
        <div class="heading">FAVORITE JOB</div>
    </div>
    <div class="col-sm-4">
        <div class="currency" title="archive this job"><i class="fa fa-trash"></i></div>
        <div class="heading">ARCHIVE JOB</div>
    </div>
</div>

<div class="row">
    <ul class="nav nav-tabs">
        <li><a href="" ng-click="jobDetailSelection('executions');" ng-class="{active: activeSection === 'executions'}">Executions</a></li>
        <li><a href="" class="">Playbook</a></li>
        <li><a href="" ng-click="jobDetailSelection('status');" ng-class="{active: activeSection === 'status'}">Status</a></li>
    </ul>
</div>
<div class="row" ng-include="template.jobExecutions">Executioin</div>
<div class="row" ng-include="template.jobStatus"></div>
<div class="row history">

  <div class="activity col-sm-7">
      <h5 class="content-header">JOB EXECUTION DETAILS</h5>
      <div class="empty-upcoming-events edetails">
          <div ng-show="(executionList.length > 0)" class="detail-status" ng-class="selectedExecution.executionStatusStyle"><span>STATUS:</span> {{selectedExecution.exit_status}} <i ng-class="selectedExecution.executionStatusIcon"></i></div>
          <!-- <span>Job:</span>  Create LAMP Server<br /> -->
          <div ng-show="(executionList.length > 0)"><span>Execution ID:</span>  {{selectedExecution.execution_id}} </div>
          <span>Job ID:</span>  {{selectedJob.id}} <br />
          <span>Playbook:</span>  {{selectedJob.repository.defaultPlaybook}} &nbsp;&nbsp;&nbsp;<a ng-href="{{selectedJob.repository.url}}" target="_blank">view here</a><br />
          <span>Hosts:</span> <span id="hosts" style="font-weight: 100">{{(selectedJob.hosts | map:'id').join(', ')}}</span><br /><br />

          <!-- <span>Executed By:</span>  John Doe<br /> -->
          <div ng-show="(executionList.length > 0)"><span>Job Last Updated:</span>  {{selectedJob.lastUpdatedTime | date: 'MM/dd/yyyy HH:mm'}}</div>
          <div ng-show="(executionList.length > 0)"><span>Job Started:</span>  {{selectedExecution.start | date: 'MM/dd/yyyy HH:mm:sss'}}</div>
          <div ng-show="(executionList.length > 0)"><span>Job Completed:</span>  {{selectedExecution.end | date: 'MM/dd/yyyy HH:mm:sss'}}</div>
          <div ng-show="(executionList.length > 0)"><span>Job Run-time:</span>  {{(selectedExecution.end - selectedExecution.start) | date: 'sss'}}</div>

          <span>Description:</span><br />Some description here Some description here Some description here Some description here Some description here Some description here Some description here Some description here <br />

          <a href="" class="view">View Status Real-time</a>
      </div>
  </div>
  <div class="upcoming-events col-sm-5" ng-include="template.jobRecentActivity"></div>
</div> 