<!-- <div class="upcoming-events col-sm-5 col-sm-push-7"> -->
    <h5 class="content-header">RECENT ACTIVITY - (Pending)</h5>
    <div>
        <div class="activity-large">
            <section class="day">
                <h2>Active Jobs</h2>
                <ol>
                    <li>
                        <div class="timestamp noerror">11:17:22 AM</div>
                        <div class="details">
                            <h4 class="subject noerror"><i class="fa fa-check-circle"></i> Job successfully completed</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timestamp error">11:13:41 AM</div>
                        <div class="details">
                            <h4 class="subject error"><i class="fa fa-times-circle"></i> Job failed to complete</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>

            <section class="day">
                <h2>Today </h2>
                <ol>
                    <li>
                        <div class="timestamp noerror">11:17:22 AM</div>
                        <div class="details">
                            <h4 class="subject noerror"><i class="fa fa-check-circle"></i> Job successfully completed</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timestamp error">11:13:41 AM</div>
                        <div class="details">
                            <h4 class="subject error"><i class="fa fa-times-circle"></i> Job failed to complete</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>

            <section class="day">
                <h2>Friday Aug 28</h2>
                <ol>
                    <li>
                        <div class="timestamp noerror">11:17:22 AM</div>
                        <div class="details">
                            <h4 class="subject noerror"><i class="fa fa-check-circle"></i> Job successfully completed</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timestamp error">11:13:41 AM</div>
                        <div class="details">
                            <h4 class="subject error"><i class="fa fa-times-circle"></i> Job failed to complete</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timestamp noerror">11:17:22 AM</div>
                        <div class="details">
                            <h4 class="subject noerror"><i class="fa fa-check-circle"></i> Job successfully completed</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timestamp error">11:13:41 AM</div>
                        <div class="details">
                            <h4 class="subject error"><i class="fa fa-times-circle"></i> Job failed to complete</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timestamp noerror">11:17:22 AM</div>
                        <div class="details">
                            <h4 class="subject noerror"><i class="fa fa-check-circle"></i> Job successfully completed</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timestamp error">11:13:41 AM</div>
                        <div class="details">
                            <h4 class="subject error"><i class="fa fa-times-circle"></i> Job failed to complete</h4>
                            <div class="attribution">
                                <span class="createdBy">shan.sundaram.wfaq</span>
                                <span class="account" style="display: none;">Platform CenturyLink - Workflow (QA)</span>
                            </div>
                        </div>
                    </li>
                </ol>
            </section>
            <p class="no-activity-message"></p>
        </div>
    </div>
<!-- </div> -->