<div> 
	<div ng-show="isStatusLoading" style="text-align: center;"><i class="fa fa-refresh fa-spin fa-2x"></i></div>
	<div ng-repeat="executionStatus in executionStatusList | orderBy: 'timestamp' | date: 'MM/dd/yyyy HH:mm:ss'">
		<div class="id alert-success"><strong>Event Type: </strong>{{executionStatus.event_type}}</div>
	    <pre class="status-display" scroll>
	        <!-- <div class="id alert-success"><strong>Execution ID: </strong>{{idSelectedItem}}</div> -->
	        <div ng-show="isStatusLoading" style="text-align: center;"><i class="fa fa-refresh fa-spin fa-2x"></i></div>
	        <!-- <div ng-show="!isStatusLoading" class="scroll" ng-class="yourClass">Scroll <i class="fa fa-arrow-circle-down"></i></div> -->
	        <div ng-show="!isStatusLoading" class="col-md-12" ng-bind-html="renderStatusJson(executionStatus)" style="top: -65px;"></div>
	    </pre>
    </div>    
</div>