
html.cyclops .action-toolbar-left li {
    cursor: pointer;
}

html.cyclops .action-toolbar-confirm button,
html.cyclops .action-toolbar-left li a
{
    /*min-width: 80px;*/
    text-align: center;
}

html.cyclops #runner .queue > li.successful .status-bar,
html.cyclops #runner .job-status.successful .status-bar,
html.cyclops #runner .queue > li.active .status-bar,
html.cyclops #runner .job-status.active .status-bar {
    background-color: #00853f;
}

html.cyclops #runner .queue > li.pending .status-bar,
html.cyclops #runner .queue > li.initializing .status-bar,
html.cyclops #runner .job-status.pending .status-bar,
html.cyclops #runner .job-status.initializing .status-bar {
    background-color: #E09D00;
}

html.cyclops #runner .queue > li.errored .status-bar,
html.cyclops #runner .job-status.errored .status-bar,
html.cyclops #runner .queue > li.failure .status-bar,
html.cyclops #runner .job-status.failure .status-bar {
    background-color: #e43b34;
}

html.cyclops .fake {
    color: #ff0000;
}

html.cyclops .action-area.action-toolbar-confirm-shown {
    background-color: #3a3a3a;
}

html.cyclops .action-toolbar-confirm {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1140px !important;
}

a[data-toggle="tab"],
span.anchor-span {
    cursor: pointer;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

/* begin filter panel stuff */
/*
html.cyclops #runner .filter-panel {
    background-color: #e8e8e8;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #d9d9d9;
    font-size: 12px;
}
*/

html.cyclops #runner .filter-panel span.anchor-span {
    text-decoration: none;
    display: inline-block;
    padding: 12px 10px;
    color: #888;
    margin-bottom: -2px;
}

/*
html.cyclops #runner .filter-panel a svg {
    fill: #999;
}
*/

html.cyclops #runner .filter-panel span.anchor-span:hover,
html.cyclops #runner .filter-panel span.anchor-span.active {
    color: #333;
    border-bottom: 2px solid #333;
}

html.cyclops #runner .filter-panel span.anchor-span:hover svg,
html.cyclops #runner .filter-panel span.anchor-span.active svg {
    fill: #333;
}

html.cyclops #runner .filter-panel span.anchor-span.active {
    font-weight: 600;
}

/*
html.cyclops #runner .filter-panel .search-input {
    margin-top: 8px;
}
*/
/* end filter panel stuff */
