/* Variables */
/* GloboSearch */

.globoSearch-menu {
  color: white;
  background: #264e1b;
  border-color: #224418;
}
.globoSearch-menu .ui-menu-item {
  border-color: #224418;
}
.globoSearch-menu .ui-menu-item a {
  color: white;
}
.globoSearch-menu .ui-menu-item a .description {
  color: #b3b3b3;
}
.globoSearch-menu .ui-menu-item a .description .location,
.globoSearch-menu .ui-menu-item a .description .name {
  color: white;
}
.globoSearch-menu .ui-menu-item a .type {
  color: white;
  background: #204117;
}
.globoSearch-menu .ui-menu-item a.ui-state-hover {
  color: white;
  background: #306122;
}
.globoSearch-menu .ui-menu-item a.ui-state-hover .type {
  background: #2b571f;
}
.globoSearch-menu .ui-menu-item a.no-results.ui-state-hover {
  color: white;
  background: #306122;
}
/* Header */

#shellHeader {
  color: white;
}
#shellHeader a {
  color: white;
}
#shellHeader #brandBar {
  background-color: #262626;
}
#shellHeader #brandBar #brand #logo {
  border-right: solid 1px white;
}
#shellHeader #brandBar #brand #siteName {
  border-left: solid 1px #387128;
}
#shellHeader #brandBar #auxNav .dropdown-menu {
  color: white;
  background: #264e1b;
}
#shellHeader #brandBar #auxNav .dropdown-menu .divider {
  border-bottom: solid 1px white;
}
#shellHeader #brandBar #auxNav .dropdown-menu .nav-header {
  color: white;
}
#shellHeader #brandBar #auxNav .dropdown-menu li > a {
  color: white;
}
#shellHeader #brandBar #auxNav .dropdown-menu li > a:hover {
  color: white;
  background: #306122;
}
#shellHeader #brandBar #auxNav .help a,
#shellHeader #brandBar #auxNav .admin a,
#shellHeader #brandBar #auxNav .queue a,
#shellHeader #brandBar #auxNav .account a {
  color: #cacaca;
}
#shellHeader #brandBar #auxNav .help a:hover,
#shellHeader #brandBar #auxNav .admin a:hover,
#shellHeader #brandBar #auxNav .queue a:hover,
#shellHeader #brandBar #auxNav .account a:hover {
  color: white;
}
#shellHeader #brandBar #auxNav .search,
#shellHeader #brandBar #auxNav .help,
#shellHeader #brandBar #auxNav .admin,
#shellHeader #brandBar #auxNav .queue,
#shellHeader #brandBar #auxNav .account {
  border-left: solid 1px white;
  border-right: solid 1px #29521d;
}
#shellHeader #brandBar #auxNav .search {
  border-left: none;
}
#shellHeader #brandBar #auxNav .search .search-box {
  background: #264e1b;
}
#shellHeader #brandBar #auxNav .search .search-box input {
  background: transparent;
  color: white;
}
#shellHeader #brandBar #auxNav .search .search-box-navigating {
  background: #183111;
  color: white;
}
#shellHeader #menu {
  background-color: #529e3d;
}
#shellHeader #menu #accountSwitcher form .combobox-container input,
#shellHeader #menu #accountSwitcher form .combobox-container .add-on {
  color: white;
  background: #3e772e;
}
#shellHeader #menu #accountSwitcher form .combobox-container .dropdown-menu {
  background: #3e772e;
}
#shellHeader #menu #accountSwitcher form .combobox-container .dropdown-menu .active > a,
#shellHeader #menu #accountSwitcher form .combobox-container .dropdown-menu .active > a:hover {
  background: #529e3d;
}
#shellHeader #menu #accountSwitcher form :not(.combobox-focus).combobox-container input,
#shellHeader #menu #accountSwitcher form :not(.combobox-focus).combobox-container .add-on {
  color: white;
  background: #468634;
}
#shellHeader #menu #accountSwitcher form :not(.combobox-focus).combobox-container:hover input,
#shellHeader #menu #accountSwitcher form :not(.combobox-focus).combobox-container:hover .add-on {
  background: #427e31;
}
#shellHeader #menu #nav {
  background-color: #529e3d;
}
#shellHeader #menu #nav #nav-inner h3 {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
#shellHeader #menu #nav #nav-inner ol li:hover,
#shellHeader #menu #nav #nav-inner ol li.selected {
  background-color: white;
}
#shellHeader #menu #nav #nav-inner ol li:hover a,
#shellHeader #menu #nav #nav-inner ol li.selected a {
  color: #529e3d;
}
#shellHeader #menu #nav #nav-inner ol li.admin-item a {
  color: rgba(255, 255, 255, 0.45);
}
#shellHeader #menu #nav #nav-inner ol li.admin-item:hover a,
#shellHeader #menu #nav #nav-inner ol li.admin-item.selected a {
  color: #529e3d;
}
/* Links */

a {
  color: #529e3d;
}
#shellHeader #menu #targetArea i {
  color: white;
}
/* Mixins */

/* Font awesome overridern styles*/
.fa-star-fav {
  color: yellow;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
.fa-star-none {
  color: green;
}

.table td {
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dashboard-title {
  color: #000;
  padding: 110px 0 0 ;  
}

.header-all-jobs { padding: 10px; background: #333; margin-tops: 100px; color: #529E3D; font-weight: bolds; }
.items li {width: 280px;}
.header-fave { padding: 10px; background: #333; margin-top: 100px; color: #529E3D; font-weight: bolds; }
.header-fave .fa, .header-all-jobs .fa { color: #529E3D; padding-right: 5px;}
.job-title .fa { color: #99ff33; font-size: 85%}
.job-results ul { width: 100%; margin: 0; padding: 0;display: table; }
.job-results li { display: table-cell; margin: 0; padding: 0; border-bottom: 1px solid #eee; border-top: 1px solid #fff }
.job-results li { padding: 5px; borders: 1px solid red;}
.job-results li:nth-child(1) { padding-left: 15px; }

.left-nav .pane li .item-hover.selected { background: #529E3D; color: white; }

.job-results ul { width: 100%; display: table;}
.job-results ul:nth-child(odd){ background-color: #fff; }
.job-results ul:nth-child(even){ background-color: #f9f9f9; }
.job-results ul li { width: 20%;}
.job-results ul li:nth-child(1) { width: 40%;}
.job-results .exec-item:hover{ background-color: #529E3D; color: white; }
.job-results .job-header { font-weight: bold; background: #fff !important}

.job-results .exec-item.selected { background: #e5e5e5; }
.job-results .exec-item:hover.selected { color: black; }
.exec-item li { cursor: pointer; }

.job-results .all-jobs { width: 100%; text-align: center; }
.job-results .all-jobs a { display: block; text-decoration: none; padding: 10px; background: #ddd; color: #333; font-weight: normal; }
.job-results .all-jobs a { border-top: 1px solid #eee; border-bottom: 1px solid #ccc }
.job-results .all-jobs a:hover { background-color: #333; color: white; }

.activity-large .subject { font-weight: bold; }
.activity-large .subject .fa { font-size: 90%; }
.activity-large .error, .exec-item .error { color: red !important; }
.activity-large .noerror, .exec-item .noerror { color: green !important; }
.activity-large .running, .exec-item .running { color: #4772c9 !important; }
.activity-large .suspended, .exec-item .suspended { color: #999 !important; }
.activity-large .activity-item-right span { color: #777; font-weight: normals }

.billing-summary .col-sm-4 { text-align: center; }
.billing-summary .fa { color: #529E3D; font-size: 50px; cursor: pointer; }
.billing-summary .fa:hover { color: #99FF33; }
.billing-summary .fa-play-circle:hover { color: #4772c9; }
.billing-summary .fa-trash:hover { color: red; }

.edetails { margin-top: 20px; }
.edetails span { font-weight: bold; line-height: 30px; }
.edetails .detail-status { display: block; padding: 10px; margin-left: -2px; border: 0px solid #ccc; background: #eaeaea; white-space: nowrap}
.edetails .view { display: block; width: 250px; padding: 15px; margin-top: 30px; background: #333; color: #529E3D; border-radius: 5px; text-decoration: none; text-align: center; }
.edetails .view:hover { color: white; background: #529E3D;  }

.edetails .error { color: red !important; border-left: 20px solid red }
.edetails .noerror { color: green !important; border-left: 20px solid green }
.edetails .running { color: #4772c9 !important; border-left: 20px solid #4772c9 }
.edetails .suspended { color: #999 !important; border-left: 20px solid #999 }
.sub-content { color: #529E3D !important; font-size: 12px; padding-left: 30px !important; padding-right: -30px;}
.sub-content .fa { padding-right: 5px; color: #529E3D !important; }


/* PBB Styles */
#build_view { color: #aaa; font-weight: 100; letter-spacing: 0px; font-size: 12px;  }
#build_view { msargin: 0 auto !important; background-colors: #eee !important; border: 10px solid #eee; }
#build_view .toolbar { display: none;}
.playbook-results { display: none; padding: 20px 50px;  }
.playbook-results .disclaimer { font-size: 10px; font-weight: normal }
.playbook-results span { color: #999;}
/*.status-results { display: none; }*/
.status-display { font-size: 12px; font-weight: normal; line-height: 14px; height: 500px; overflow: auto; height: 500px; }
/*.status-display pre { overflow: auto; height: 500px; }*/
.status-display strong { font-size: 12px; text-transform: uppercase;}
.status-display .id { border: 1px solid #ddd; border-radius: 5px; padding: 15px; 20px; width: 50%; background: #fff; font-weight: sbold; color: #333;}
.status-display .scroll { width: 100px; background: #333; color: #fff; padding: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-top: -45px; margin-left: 200px; position: relative; z-index: 1; text-align: center; top: 395px;}
.scroll-animate-show { -webkit-transition:all linear 0.5s; -moz-transition:all linear 0.5s; -o-transition:all linear 0.5s; transition:all linear 0.5s; display:block!important; opacity: 1; }
.scroll-animate-hide { -webkit-transition:all linear 0.5s; -moz-transition:all linear 0.5s; -o-transition:all linear 0.5s; transition:all linear 0.5s; display:block!important; opacity: 0; }


h2 { color: #77d42a; font-weight: 100; margin }
.page-header h1 { font-size: 30px; }
.pbitems { width: 45%; padding: 0 0px;}
.pbitems { float: left; margin-right: 10px;} 
.pbitems h2 { margin: 10px 0px; }
.pbitems ul, .items li { padding: 0; margin: 0; }
.pbitems ul { margin-bottom: 10px; margin-top: 0px; padding: 10px 20px 20px 20px; border-radius: 5px; background: #fff; }
.pbitems li { display: inline-block; padding: 15px 5px; width: 175px; text-align: center; margin: 2px; cursor: pointer;}
.pbitems .unSelectedItem
{   
    font-size: 14px;
    font-weight: 100; letter-spacing: 1px; text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
    background: #464e54;
    background-image: -webkit-linear-gradient(top, #464e54, #313538);
    background-image: -ms-linear-gradient(top, #464e54, #313538);
    background-image: -o-linear-gradient(top, #464e54, #313538);
    background-image: linear-gradient(to bottom, #464e54, #313538);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}
.pbitems li:hover 
{   
    background-image: -webkit-linear-gradient(top, #313538, #464e54);
    background-image: -moz-linear-gradient(top, #313538, #464e54);
    background-image: -ms-linear-gradient(top, #313538, #464e54);
    background-image: -o-linear-gradient(top, #313538, #464e54);
    background-image: linear-gradient(to bottom, #313538, #464e54);

}

.pbitems .selectedItem 
{   
    font-size: 14px;
    font-weight: 100; letter-spacing: 1px; text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
    background: lightgray;
    background-image: -webkit-linear-gradient(top, lightgray, lightgray);
    background-image: -ms-linear-gradient(top, lightgray, lightgray);
    background-image: -o-linear-gradient(top, lightgray, lightgray);
    background-image: linear-gradient(to bottom, gray, gray);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
}

.disclaimer { margin-top: 50px; font-size: 10px; line-height: 10px; font-weight: normal; color: #bbb; font-style: italic }
.form-actions { display: block; width: 47%; float: left; }
.btn-menus { min-width: 93%; text-align: center; }
.environment-box {background-attachment: scroll;
background-clip: border-box;
/*background-color: rgb(38, 78, 27);*/
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
color: rgb(255, 255, 255);
display: block;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 300;
height: 21px;
line-height: 19px;
margin-bottom: 16px;
/*margin-left: 16px;*/
margin-right: 16px;
/*margin-top: 16px;*/
padding-bottom: 13px;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
position: relative;
vertical-align: middle;
width: 420px;}

.add-list {margin: 2px 0px 0px 5px;}