<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Automation Service</h2>
        <ul>Product features include the following:

<li>Job Service – a service to schedule, define and run customer provided tasks.  The job service will define automations to be run in a very easy to use text based manifest format.  These tasks will provide the capability to run a wide range of IT related automation tasks.</li>
<li>Connection Service – A service to establish private network tunnels as part the execution of a job by the job service.  This capability extends job automations to also include endpoints in customer datacenters or third party clouds.</li>
<li>SSH Key Management Service - a service to manage and deploy SSH credentials to machines involved in an automation job.  This service enables the job service to gain access to any machine in order to run a task.  SSH Key management is also one of the most requested features on CenturyLink Cloud.</li>
<li>Status Service – a service to return the status of individual tasks in a job, as they execute.  This service will send task status as a web-hook, and will also enable real-time job status via a graphical interface in a future release.</li>
</ul>
        <!-- <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
</div>